<% layout("/layouts/boilerplate.ejs") %>

  <div class="row">
    <div class="col-8 offset-2">
      <br />
      <h2>Edit your details</h2>
      <form method="POST" action="/listing/<%=listing._id%>?_method=PUT">
        <div>
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" type="text" value="<%=listing.title%>" class="form-control">
        </div>
        <br />


        <div>
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control"><%=listing.description%></textarea>
        </div>
        <br />

        <div>
          <label for="image" class="form-label">Image</label>
          <input name="listing[image]" value="<%=listing.image.url%>" class="form-control">
        </div>
        <br />

        <div class="row">
          <div class="col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" type="number" value="<%=listing.price%>" class="form-control">
          </div>
          <br />

          <div class="col-md-8">
            <label for="country" class="form-label"> Enter your country</label>
            <input name="listing[country]" type="text" value="<%=listing.country%>" class="form-control">
          </div>
        </div>
        <br />

        <div>
          <label for="location" class="form-label">Location</label>
          <input name="listing[location]" type="text" value="<%=listing.location%>" class="form-control">
        </div>

        <br />
        <button class="btn btn-dark">Update</button>
      </form>
      <br />

    </div>
  </div>