<% layout("/layouts/boilerplate.ejs") %>

  <body>
    <h3>All Hotels details</h3>
    <ul>
      <br />
      <!-- <form method="GET" action="/listing/new">
        <button>New Hotels</button>
      </form> -->
      <br />



      <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1">
        <% for(let listing of data){ %>
          <!-- <a href="/listing/<%=listing._id %>" class="listing_dec"> -->
          <div class="card col" style="width: 18rem;">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 18rem;">
            <div class="card-body">
              <h5 class="card-title">
                <%= listing.title %>
              </h5>
              <p class="card-text">
                &#8377;<%= listing.price.toLocaleString("en-IN") %>/Night
              </p>
              <a href="/listing/<%= listing._id %>" class="btn btn-primary">More details</a>
            </div>
          </div>
          <!-- </a> -->
          <% } %>
      </div>

  </body>


  </html>