<% layout("layouts/boilerplate.ejs") %>

  <h3>Hotel Details</h3>

  <div class="card mb-3" style="max-width: 1080px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="<%= listing.image.url %>" class="img-fluid rounded-start" alt="listing_image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <%= listing.title %>
          </h5>
          <p class="card-text">
            <%= listing.description %>
          </p>
          <p class="card-text">
            Price: &#8377;<%= listing.price.toLocaleString("en-IN") %>/Night
          </p>
          <p class="card-text">
            Location: <%= listing.location %>
          </p>
          <p class="card-text">
            Country: <%= listing.country %>
          </p>
        </div>
      </div>
    </div>
    <br />
    <div class="btns">
      <form method="GET" action="/listing/<%=listing._id%>/edit">
        <button class="btn btn-dark md-4">Edit</button>
      </form>
      <form method="POST" action="/listing/<%=listing._id%>?_method=Delete">
        <button class="btn btn-dark">Delete</button>
      </form>
    </div>

    <div class="col-md-8">
      <hr />
      <h4>Leave your Reviews</h4>
      <br />
      <form action="/listing/<%=listing._id%>/reviews" method="post" novalidate class="needs-validation">
        <div>
          <label for="rating" class="form-label">Rating</label>
          <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
        </div>
        <br />
        <div>
          <label for="comment" class="form-label" no>Comment</label>
          <textarea id="comment" name="review[comment]" class="form-control" required></textarea>
          <div class="invalid-feedback">
            Please add your reviews
          </div>
        </div>
        <br />
        <button type="submit" class="btn btn-dark">Submit Review</button>
      </form>

      <hr />
      <h4>Reviews</h4>
      <ul>
        <% for(review of listing.reviews) { %>
          <div class="review_container">
            <p>
              <%= review.comment %>
            </p>
            <p>
              <%= review.rating %> Star
            </p>
          </div>
          <% } %>
      </ul>
    </div>
  </div>